{% extends 'main.html' %}

{% block content %}

<style>
    .data-ingress-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
</style>

<h1>Data Ingress - control panel</h1>
<hr>

<div class="data-ingress-container">
    <div>
        <h2>Data Generation</h2>
    </div>
    <div>
        <h2>Data Collection</h2>
    </div>
    <div>
        <h2>Control Kafka Container</h2>
    </div>
    <div>
        <h2>Database handling</h2>
    </div>

    <div>
        {% include 'data_generation.html' with data_generation_status=data_generation_status %}
    </div>
    <div>
        {% include 'data_collection.html' with data_collection_status=data_collection_status %}
    </div>
    <div>
        {% include 'kafka_server_control.html' with kafka_container_status=kafka_container_status %}
    </div>
    <div>
        {% include 'database_handling.html' %}
    </div>
</div>

{% endblock content %}