{% if data_generation_status == 'started' %}
    <form method="get" action="{% url 'stop-data-generation' %}">
        <button type="submit" style="color: red;">Stop Streaming</button>
    </form>
{% elif data_generation_status == 'stopped' %}
    <form method="get" action="{% url 'start-data-generation' %}">
    <label for="num_streams">Number of Streams:</label>
    <input type="number" id="num_streams" name="num_streams" min="1" value="1">
    <button type="submit" style="color: red;">Start Streaming</button>
    </form>
{% else %}
    <form method="get" action="{% url 'start-data-generation' %}">
        <button type="submit">Start Streaming</button>
    </form>
    <p>Action is in a neutral state. Please choose an action.</p>
{% endif %}

{% if data_generation_message %}
    <p>{{ data_generation_message }}</p>
{% endif %}
