{% if streaming_status == 'started' %}
    <form method="get" action="{% url 'stop-streaming' %}">
        <button type="submit">Stop Streaming</button>
    </form>
 {% elif streaming_status == 'stopped' %}
    <form method="get" action="{% url 'start-streaming' %}">
    <label for="num_streams">Number of Streams:</label>
    <input type="number" id="num_streams" name="num_streams" min="1" value="1">
    <button type="submit">Start Streaming</button>
    </form>
{% else %}
    <form method="get" action="{% url 'start-streaming' %}">
        <button type="submit">Start Streaming</button>
    </form>
    <p>Action is in a neutral state. Please choose an action.</p>
{% endif %}

{% if streaming_message %}
    <p>{{ streaming_message }}</p>
{% endif %}
