{% extends 'main.html' %}

{% block content %}

<style>
    .data-ingress-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
</style>

<h1>Control panel</h1>
<hr>

<div class="data-ingress-container">
    <div>
        <h2>Data Generation</h2>
    </div>
    <div>
        <h2>Data Collection</h2>
    </div>
    <div>
        <h2>Control Kafka Container</h2>
    </div>
    <div>
        {% include 'data_producers.html' with streaming_status=streaming_status %}
    </div>
    <div>
        {% include 'tcp_server.html' with tcp_server_status=tcp_server_status %}
    </div>
    <div>
        {% include 'kafka_server.html' with kafka_container_status=kafka_container_status %}
    </div>
</div>

{% endblock content %}