{% if tcp_server_status == 'started' %}
<form method="get" action="{% url 'stop-tcp-server' %}">
    <button type="submit">Stop Data Collection</button>
</form>
{% else %}
<form method="get" action="{% url 'start-tcp-server' %}">
    {% csrf_token %}
    {% if kafka_container_status == 'stopped' %}
        <button type="submit" disabled>Start Data Collection</button>
        <p>Start Kafka first!'</p>
    {% else %}
        <button type="submit">Start Data Collection</button>
    {% endif %}
</form>
{% endif %}

{% if tcp_server_message %}
<p>{{ tcp_server_message }}</p>
{% endif %}